@model OldHouse.Models.Record

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodPressur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodPressur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeartBeatPerSecond)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeartBeatPerSecond)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temperature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodSugarLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodSugarLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CholesterolLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CholesterolLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
