@model IEnumerable<OldHouse.Models.Machine>

@{
    ViewData["Title"] = "Index";
}

<h2>Machines</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Battery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Battery) %
            </td>
            @{
                if (item.Status.Equals(Status.AVAILABLE))
                {
                    <td>
                        <span class="badge" style="background-color:green">`</span>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }

                if (item.Status.Equals(Status.IN_USE))
                {
                    <td>
                        <span class="badge" style="background-color:yellow">`</span>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }

                if (item.Status.Equals(Status.OUT_OF_SERVICE))
                {
                    <td>
                        <span class="badge" style="background-color:red">`</span>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }

            }

            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
