@model OldHouse.Data.Patient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodType)
        </dd>

        @{

            if (Model.MachineId != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Machine)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Machine.SerialNumber)
                </dd>

                if (Model.Machine.Status.Equals(Status.OUT_OF_SERVICE))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Machine.Status)
                    </dt>
                    <dd>
                        <p><span class="text-danger"> OUT OF SERVICE </span><i> Please press <a asp-controller="Patients" asp-action="AssignPatientToMachine" asp-route-patientId="@Model.PatientId">here</a> to assign another machine</i></p>
                    </dd>
                }
                else if (Model.Machine.Status.Equals(Status.IN_USE))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Machine.Status)
                    </dt>
                    <dd>
                        <p><i><span class="text-warning text-uppercase"> In Use</span> </i></p>
                    </dd>
                }

                else if (Model.Machine.Status.Equals(Status.AVAILABLE))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Machine.Status)
                    </dt>
                    <dd>
                        <p><i><span class="text-success text-uppercase"> Available</span> </i></p>
                    </dd>
                }

            }
            else
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Machine)
                </dt>
                <dd>
                    <p> <i> Please press <a asp-controller="Patients" asp-action="AssignPatientToMachine" asp-route-patientId="@Model.PatientId">here</a> to assign a machine</i></p>
                </dd>

            }

        }

    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.PatientId" class="btn btn-warning"><i class="fa fa-edit"></i>  Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
